@page "/"

<PageTitle>Home</PageTitle>

<h1 class="title">Welcome</h1>
<h2 class="subtitle">My Quiz Blazor App!</h2>
<div class="welcomeGifDiv">
<iframe src="https://i.giphy.com/m6OomwWCojfS8.webp" width="480" height="361" allowFullScreen></iframe>
</div>


